<!-- <div class="messages">
    {% for message in messages %}
        {% if message.extra_tags == 'post_message_fail' %}
        <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
        {% endif %}
    {% endfor %}
</div> -->

<div class="card posted_msgs">
    {% for msg in msgs %}
    <h5 class="card-header">
        {{ msg.user.first_name }} {{ msg.user.last_name }} - {{ msg.created_at }}
    </h5>
    <div class="card-body posted_msg">
        <p>{{ msg.message }}</p>
        <ul class="list-group">
            {% for comment in msg.commented_msg.all %}
            <li class="list-group-item">
                <h5>
                    {{ comment.user.first_name }} {{ comment.user.last_name }} - {{ comment.created_at }}
                </h5>
                <p>{{ comment.comment }}</p>
                {% if comment.user.id == request.session.userid %}
                <form action="post_message" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="post_trigger" value="del">
                    <input type="hidden" name="comment_id" value="{{ comment.id }}">
                    <button type="submit" class="btn btn-danger">Delete comment</button>
                </form>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        <form action="post_message" method="POST">
            {% csrf_token %}
            <input type="hidden" name="post_trigger" value="cmt">
            <div class="form-group">
                    <input type="hidden" name="message_id" value="{{ msg.id }}">
                <label for="post_comment">Post a comment</label>
                <textarea class="form-control" name="post_comment" id="post_comment" cols="30" rows="5"></textarea>
                <button type="submit" class="btn btn-success">Post a comment</button>
            </div>
        </form>
    </div>
    {% endfor %}
</div>